<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NC Powerlifting</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link rel="stylesheet" href="styles.css">
  <script src="script.js" defer></script>
</head>

<body>
  <header>
    <a href="index.html">
      <img src="/static/nc-usapl.jpg" alt="Logo" height="50">
    </a>
    <h1>North Carolina Powerlifting</h1>
    <nav class="navbar">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="events.html">Events</a></li>
        <li><a href="additional_resources.html">Additional Resources</a></li>
        <li><a href="contact.html">Contact Us</a></li>
      </ul>
    </nav>
  </header>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <p>&copy; 2024 My Website. All Rights Reserved.</p>
        </div>
        <div class="col">
          <ul class="footer-nav">
            <li><a href="index.html">Home</a></li>
          </ul>
        </div>
        <div class="col">
          <ul class="footer-nav">
            <li><a href="events.html">Events</a></li>
          </ul>
        </div>
        <div class="col">
          <ul class="footer-nav">
            <li><a href="additional_resources.html">Additional Resources</a></li>
          </ul>
        </div>
        <div class="col">
          <ul class="footer-nav">
            <li><a href="contact.html">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>