.center {
    text-align: center;
}

.carousel {
    margin: auto;
    width: 70%; 
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
    flex: auto;
}

p {
    text-align: justify;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
